hr
h1 Percent and sums
table(class='full')
    tr
        th Loc
        th Commits
        th LocPercent
        th LocPercentAccSum
        th CommitsPercent
        th CommitsPercentAccSum
        // th Ratio
    each item in metrics
        tr
            td(class='loc')= item.loc
            td(class='commits')= item.commits
            td(class='locPercent')= item.locPercent
            td(class='locPercentAccSum')= item.locPercentAccSum
            td(class='commitsPercent')= item.commitsPercent
            td(class='commitsPercentAccSum')= item.commitsPercentAccSum
            // td(class='ratio')= item.ratio