html
    head
        link(href='style.css', rel='stylesheet', type='text/css')
    body
        h1 Metrics
        table 
            tr
                th Loc
                th Commits
                th LocPercent
                th LocPercentAccSum
                th CommitsPercent
                th CommitsPercentAccSum
            each item in metrics
                tr
                    td(class='loc')= item.loc
                    td(class='commits')= item.commits
                    td(class='locPercent')= item.locPercent
                    td(class='locPercentAccSum')= item.locPercentAccSum
                    td(class='commitsPercent')= item.commitsPercent
                    td(class='commitsPercentAccSum')= item.commitsPercentAccSum