<html>
  <head>
    <title>Locs/commit correlation</title>
    <script src="js/vendor/zepto.min.js" type="text/javascript"></script>
    <script src="js/vendor/raphael-min.js" type="text/javascript"></script>
    <script src="js/vendor/g.raphael-min.js" type="text/javascript"></script>
    <script src="js/vendor/g.line-min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Locs/commit correlation</h1>
    <p>
    y = k*x + m, where<br />
    k = <%=  slope %><br />
    m = <%= intersect %>
    </p>
    <p>
    <b style="font-size: 1.2em">R^2: <%= r_squared %></b>
    </p>
    <p>
    Correlation status*: <b><%= correlation_status %></b><br />
    &nbsp;&nbsp;* Should be taken with a grain of salt
    </p>
    <br />
    <hr />
    <br />
    <a href="/">Lines of code</a> | <a href="commits">Commits</a>
    <h2><%= property_name %></h2>

    <div id="graph" style="height: 480px"></div>
    <h2>Top 20 files</h2>
    <table>
      <tr><th>Path</th><th><%= property_name %></th></tr>
      <% code_files.reverse.each do |code_file| %>
        <tr>
          <td><%= code_file.path %></td>
          <td><%= code_file.send(property) %></td>
        </tr>
      <% end %>
    </table>
    
  </body>
</html>
